<html>
    <head>
        style
            include static/css/index.css
    </head>

        <div>
            <div id='back-button'> <a href='/find'><-back</a> </div>
                include search_bar.pug
        </div>

        <div class="header">
            h1=skaterName
        </div>

        p=noPosts

        each post in posts
            p=post['Pants'] + ' => '
                a(href=post["Post Url"]) #{post['Post Url']}

        script
            include static/js/search.js
    </body>
</html>